@import 'assets/c/main/src/constants';
@import 'assets/c/main/src/type';

.main-header {
  a {
    @include opacity-anchor-style;

    .initialised & {
      transition: opacity .2s ease;
    }
  }
  .header-title {
    h3 {
      a {
        &:not(:first-child) {
          &:before {
            @include ib-grid;
            content: ' — ';

            @include desktop-and-tablet {
              margin-left: 8px;
              margin-right: 8px;
            }
            @include phone {
              margin-left: 4px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
  @include desktop-and-tablet {
    margin-top: 25px;
    margin-bottom: 150px;

    .header-title {
      @include ib-grid;
      width: susy-span(4);
      margin-left: susy-span(3 wide) + susy-gutter() / 2;
    }
  }
  @include phone {
    margin-top: susy-span(1 wide) + susy-gutter() / 2;
    margin-bottom: 90px;

    .header-title {
      @include ib-grid;
      width: susy-span(10);
      margin-left: susy-span(1 wide) + susy-gutter() / 2;
    }
  }
}
