html {
  overflow-y: scroll;  // always show vertical scrollbar on window
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

*,
*::before,
*::after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  visibility: hidden;

  .initialised & {
    visibility: inherit;
  }
}

.structural {
  width: 100%;
  $max-width: 1780;
  @if ($max-width) {
    max-width: $max-width * 1px;
  }
  margin-left: auto;
  margin-right: auto;
  // assign left and right in case we fix one of these elements.
  left: 0;
  right: 0;
}

#content {
  & > * {
    will-change: opacity;
    opacity: 0;

    .initialised & {
      transition: opacity .35s ease;
    }
    &.initialised {
      opacity: 1;
    }
  }
}

ul {
  padding-left: 0;

  li {
    list-style: none;
    margin-left: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
