@import 'styles/main/src/constants';

.home-wrap {
  @include desktop-and-tablet {
    @include inline-block;
    width: percentage(1200px / $desktop-inner);
    margin-left: percentage(120px / $desktop-inner);
    padding-top: percentage(25px / $desktop-inner);
  }
  @include phone {
    padding: percentage(75px / $phone-inner) percentage($phone-margin / $phone-inner);
  }
  p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 26px;
    letter-spacing: -.25px;
    margin: 0;
  }
}
