@import 'styles/main/src/constants';

.homepage {
  .home-wrap {
    @include desktop-and-tablet {
      @include ib-grid;
      width: susy-span(10);
      margin-left: susy-span(1 wide) + susy-gutter() / 2;
      padding-top: 125px;
    }
    @include phone {
      @include ib-grid;
      width: susy-span(10);
      margin-left: susy-span(1 wide) + susy-gutter() / 2;
      padding-top: 75px;
    }
    p {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 26px;
      letter-spacing: -.25px;
      margin: 0;
    }
  }
}
