@charset 'UTF-8';

@import 'styles/main/src/constants';
@import 'styles/main/lib/tools/typography';
@import 'styles/main/src/style';

.site-page,
.main-footer {
  html.no-js &,
  &.initialised {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  html.no-js &,
  html.font-loaded & {
    opacity: 1;
  }
}

.p404 {
  & > * {
    width: percentage(960px / $desktop-inner);
    margin-left: percentage(360px / $desktop-inner);
  }
}
